<div class="containerConfiguraciones">

  <div class="containerInter">
    <div class="titulo">
      <div class="containerIcoText">
        <mat-icon>inventory</mat-icon> Mantenimiento de productos
      </div>

      <a [routerLink]="['/layout/configuraciones']">
        <div class="containerIcoText"><mat-icon>arrow_back</mat-icon>Retroceder</div>
      </a>
    </div>

    <hr>

    <div class="formularioCard">
      <!-- <p style="font-size: small;">Crea una numeración para organizar y tener el control de tus comprobantes</p> -->
    
      <div class="containerfuncionesheader input-parent">
        <input type="button" value=" +  Agregar" data-toggle="modal" data-target="#exampleModal" class="btnGuardar">
        <mat-form-field appearance="outline">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="getAllFilter($event)" placeholder="buscar">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
      </div>


      <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-hover table-striped control">
          <thead class="con"> 
            <tr>
              <th style="text-align: center;"></th>
           
              <th scope="col">Nombre</th>
              <th scope="col" class="d-lg-block d-md-block d-sm-none d-xs-none">Descripción</th>
              <th scope="col">Precio base </th>
              <th scope="col">Impuestos </th>
              <th scope="col">Precio + Impuestos </th>
              <th scope="col">Cantidad en almacen</th>
              
              <th scope="col" class="accionesTitle">Acciones</th>
              <th class="cargandoTableIcono">
                <div *ngIf="cargando" class="loaderTable"></div>
              </th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let producto of dataList" class="filaBody"> 
              <td><div style="display: flex; justify-content: center; align-items: center; width: 100%; box-sizing: border-box; border-radius: 50px;"><img class="d-sm-block" src="{{producto.imagen}}" alt="" style="width: 25px; height: 25px; border-radius: 50%;"></div>  </td>
              <td><div>{{producto.nombre}}</div></td>
              <td><div>{{producto.descripcion}}</div></td>
              <td><div>{{moneda.simbolo }} {{producto.precioBase}}</div> </td>
              <td><div>{{moneda.simbolo }} {{producto.precioFinal - producto.precioBase}}</div> </td>
              <td><div>{{moneda.simbolo }} {{producto.precioFinal}}</div> </td>
              <td><div> {{producto.cantInicial}}</div></td>
              <td class="acciones">
                <button matTooltip="Editar" class="btnaccion" (click)="editar(producto)" data-toggle="modal"
                  data-target="#exampleModal"><mat-icon data-toggle="modal">edit</mat-icon></button>
                <button matTooltip="Eliminar" class="btnaccion" (click)="delete(producto.idProducto)" data-target="#exampleModal"><mat-icon
                    data-toggle="modal">delete</mat-icon></button>
              </td>
              <td></td>
            </tr>
            <tr class="sinRegistros" *ngIf="sinRegistros">

              <td>{{sinRegistrosTxt}}</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div style="display: flex; width: 100%;">
        <p style="font-size: 12px;"> Total de registros encontrados : {{dataList.length}} </p>
    </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade fade bd-example-modal-smq" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document" style="display: flex;">
      <div class="modal-content" >
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Producto</h2>

          <mat-icon (click)="resetForm()" data-dismiss="modal">close</mat-icon>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
        </div>
        <div class="modal-body" >
          <div class="control">
            <form class="formulario" [formGroup]="miFormulario" (ngSubmit)="save()">
              <div class="container">
                <div class="row">
                  <div>
                    <div class="row">

                      <div class="col-md-6  col-sm-12 col-xs-12 mb-3">
                       
                        <mat-radio-group aria-label="Select an option" formControlName="isProduct" >
                          <mat-radio-button (click)="isProductView(1)" [value]='true'>Producto</mat-radio-button>
                          <mat-radio-button (click)="isProductView(0)"  [value]='false' >Servicio</mat-radio-button>
                        </mat-radio-group>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6" *ngIf="isProduct">
                        <mat-form-field appearance="outline" class="control">
                          <mat-label>Categoria</mat-label>
                          <mat-select disableRipple formControlName="idCategoria"> 
                            <mat-option [value]="categoria.idCategoria" *ngFor="let categoria of dataListCategoria" (click)="getMarcas(categoria.idCategoria!)">
                              {{categoria.nombre}}
                            </mat-option>
                         
                            <mat-option *ngIf="dataListCategoria.length<1">No hay campos disponibles</mat-option> 
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-6" *ngIf="isProduct">
                        <mat-form-field appearance="outline" class="control">
                          <mat-label>Marca</mat-label>
                          <mat-select disableRipple formControlName="idMarca">
                            <mat-option [value]="marca.idMarca" *ngFor="let marca of dataListMarcas" (click)="getModelos(marca.idMarca!)">
                              {{marca.nombre}}
                            </mat-option>
                            <mat-option *ngIf="dataListMarcas.length<1">No hay campos disponibles</mat-option> 
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-6" *ngIf="isProduct">
                        <mat-form-field appearance="outline" class="control">
                          <mat-label>Modelo</mat-label>
                          <mat-select disableRipple formControlName="idModelo">
                            <mat-option [value]="modelo.idModelo" *ngFor="let modelo of dataListModelos">
                              {{modelo.nombre}}
                            </mat-option>
                             <mat-option *ngIf="dataListModelos.length<1">No hay campos disponibles</mat-option> 
                          </mat-select>
                        </mat-form-field>
                      </div>


                      <div class="col-md-12 col-sm-12 col-xs-12 mb-3 imagen">
                        <label for="imagen"></label>
                        <input type="file" (change)="onFileSelected($event)">
                        
                      </div>


                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <mat-form-field appearance="outline" class="example-full-width control">
                          <mat-label>Nombre</mat-label>
                          <input type="text" matInput #message minlength="3" class="control"
                            placeholder="Escriba el nombre de la numeración" formControlName="nombre">
                        </mat-form-field>
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <mat-form-field appearance="outline" class="example-full-width control">
                          <mat-label>Descripción</mat-label>
                          <input type="text" matInput #message minlength="3" class="control"
                            placeholder="Escriba una descripcion del producto o servicio" formControlName="descripcion">
                        </mat-form-field>
                      </div>


                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <mat-form-field appearance="outline" class="control">
                          <mat-label>Unidad</mat-label>
                          <input type="text" matInput [matAutocomplete]="auto" formControlName="filterUnidades"
                            (input)="getAllUnidadesFilter(miFormulario.get('filterUnidades')?.value)">
                          <mat-autocomplete  #auto="matAutocomplete"
                            (optionSelected)="setUnidad($event)" [displayWith]="displayFn">
                            <mat-option *ngFor="let unidad of dataListUnidades" [value]="unidad">
                              {{ unidad.nombre }}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <mat-form-field appearance="outline" class="example-full-width control">
                          <mat-label>Costo</mat-label>
                          <input type="number" matInput class="control" formControlName="costoInicial"
                            placeholder="Escriba el costo de la unidad adquirida">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <mat-form-field appearance="outline" class="example-full-width control">
                          <mat-label>Precio base</mat-label>
                          <input type="number" matInput class="control" (keyup)="setPrecioTotal(0)"
                            formControlName="precioBase" placeholder="Precio de venta sin impuesto">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <mat-form-field appearance="outline" class="control">
                          <mat-label>Impuestos</mat-label>
                          <mat-select disableRipple  formControlName="idImpuesto">
                            <ng-container *ngIf="dataListImpuesto.length> 0; else noInvol">
                              <mat-option [value]="impuesto.idImpuesto" *ngFor="let impuesto of dataListImpuesto"
                                (click)="setPrecioTotal(1, impuesto)">
                                {{impuesto.nombre}} {{impuesto.porcentaje}}%
                              </mat-option>
                            </ng-container>
                            <ng-template #noInvol> <mat-option>No hay campos disponibles</mat-option> </ng-template>
                          </mat-select>
                        </mat-form-field>
                      </div>



                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <mat-form-field appearance="outline" class="example-full-width control">
                          <mat-label>Precio + Impuestos </mat-label>
                          <input type="text" readonly="true" matInput class="control" formControlName="precioFinal"
                            placeholder="Escriba la numeración final">
                        </mat-form-field>
                      </div>



                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <mat-form-field appearance="outline" class="control">
                          <mat-label>Almacen</mat-label>
                          <mat-select disableRipple formControlName="idAlmacen">
                            <mat-option [value]="almacen.idAlmacen" *ngFor="let almacen of dataListAlmacenes">
                              {{almacen.nombre}}
                            </mat-option>
                            <ng-template #noInvol> <mat-option>No hay campos disponibles</mat-option> </ng-template>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      

                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <mat-form-field appearance="outline" class="example-full-width control">
                          <mat-label>Cantidad inicial</mat-label>
                          <input type="number" matInput class="control" formControlName="cantInicial"
                            placeholder="Escriba el costo de la unidad adquirida">
                        </mat-form-field>
                      </div>


                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <mat-form-field appearance="outline" class="example-full-width control">
                          <mat-label>Cantidad minima</mat-label>
                          <input type="number" matInput class="control" formControlName="cantMinima"
                            placeholder="Escriba la cantidad minima para recibir alertas">
                        </mat-form-field>
                      </div>


                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <mat-form-field appearance="outline" class="example-full-width control">
                          <mat-label>Cantidad maxima</mat-label>
                          <input type="number" matInput class="control" formControlName="cantMaxima"
                            placeholder="Escriba la cantidad maxima para recibir alertas">
                        </mat-form-field>
                      </div>
                    </div>
                    <mat-slide-toggle formControlName="venderSinInidades" class="example-margin" [color]="color"
                      [checked]="checked" class="mb-3" formControlName="venderSinUnidades">
                     Vender sin existencia
                    </mat-slide-toggle>




                    <!-- <mat-radio-group aria-label="Select an option">
                      <mat-radio-button formControlName="estado" value="1">Activo</mat-radio-button>
                      <mat-radio-button formControlName="estado" value="0">Inactivo</mat-radio-button>
                    </mat-radio-group> -->



                  </div>

                </div>

              </div>
              <div class="modal-footer">
                <input type="button" (click)="resetForm()" data-dismiss="modal" class="btnCancelar" value="Cancelar">
                <input type="submit" class="btnGuardar" value="Guardar">
              </div>
            </form>
          </div>
        </div>
      </div>




            
      <div>
        <div class="card" style="width: 150px; max-width: 150px;">
          <br>
          <p style="text-align: center;">Imagen del producto / servicio</p>
          <div class="row no-gutters">
            <div style="max-width: 145px;">
              <div *ngIf="selectedFile || imageUrl!=null">
                <img [src]="imageUrl" class="img-thumbnail" alt="Selected Image"  style="max-width:  145px; max-height: 300px;">
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
        
    </div>





