
<form action="" [formGroup]="miFormulario">

<div class="containerInter">
    <div class="titulo">
        <div class="containerIcoText">
            <mat-icon>person</mat-icon> Agregar nueva factura
        </div>
        <a [routerLink]="['/layout/configuraciones']">
            <div class="containerIcoText"><mat-icon>arrow_back</mat-icon>Retroceder</div>
        </a>
    </div>

    <hr>
    <div class="cardContainer form-control" style="background-color: transparent;">
        <div class="card-body">
            <div class="row">
                <div class="col-5">
                    <div class="input-parent">
                        <mat-form-field appearance="outline" class="control">
                            <mat-icon matSuffix>person</mat-icon>
                            <mat-label matTooltip="Puede consultar un cliente por identitifacion o su nombre">Cliente</mat-label>
                            <input type="text" matInput [matAutocomplete]="auto" (input)="searchContacto($event)" >
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectContacto($event)" >
                                <mat-option  *ngFor="let contacto of dataListContactos" [value]="contacto">
                                    {{ contacto.nombreRazonSocial }}
                                </mat-option>
                            </mat-autocomplete>
                         
                        </mat-form-field>
<!-- 
                        <a [routerLink]="['/layout/contactos']" style="margin-left: 5px;"
                            matTooltip="Agregar nuevo cliente"><mat-icon>add_circle</mat-icon></a> -->
                    </div>
                    <div class="input-parent">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Identificación</mat-label>
                            <input matInput formControlName="identificacion">
                            <mat-icon matSuffix>badge</mat-icon>
                        </mat-form-field>
                        &nbsp;
                        <mat-form-field class="example-full-width" appearance="outline">
                           <mat-icon matSuffix>phone_iphone</mat-icon>
                            <mat-label>Telefono</mat-label>
                           
                            <input  matInput formControlName="telefono">
                           
                        </mat-form-field>
                    </div>

                 

                </div>

                <!-- <div class="col-2">


                </div> -->
                <div class="col-7">
                    <div class="input-parent">
                        <mat-form-field class="control" appearance="outline">
                            <mat-label>Fecha</mat-label>
                            <input matInput [matDatepicker]="pickerFecha" formControlName="fecha" (dateChange)="setVencimiento()">
                            <mat-datepicker-toggle matIconSuffix [for]="pickerFecha"></mat-datepicker-toggle>
                            <mat-datepicker #pickerFecha></mat-datepicker>
                        </mat-form-field>
                        &nbsp;

                        <mat-form-field class="control" appearance="outline">
                            <mat-label>Plazo</mat-label>
                            <mat-select formControlName="idTermino" (selectionChange)="setVencimiento()">
                                @for (termino of dataListTerminos; track termino) {
                                <mat-option [value]="termino.idTermino">{{termino.nombre}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                        &nbsp;
                        
                       
                        <mat-form-field class="example-full-width control" appearance="outline">
                            <mat-label>Venvimiento</mat-label>
                            <input  matInput formControlName="vencimiento">
                        </mat-form-field>

                       


                    </div>
                    <div class="input-parent">
                        <mat-form-field class="control" appearance="outline">
                            <mat-label>Vendedor</mat-label>
                            <mat-select formControlName="idVendedor" (selectionChange)="setVencimiento()">
                                @for (vendedor of dataListVendedores; track vendedor) {
                                <mat-option [value]="vendedor.idVendedor">{{vendedor.nombre}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                     
                        &nbsp;

                        <mat-form-field class="control" appearance="outline">
                            <mat-label>Numeración</mat-label>
                            <mat-select formControlName="idNumeracion">
                                @for (numeracion of dataListNumeracion; track numeracion) {
                                <mat-option [value]="numeracion.idNumeracion">{{numeracion.nombre}} {{numeracion.prefijo}}{{numeracion.contador}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>

                    

                    </div>


                </div>


            </div>

        </div>
    </div>


    <div class="cardContainer form-control" style="background-color: transparent;">
        <div class="card-body">
            <div class="row">
                <!-- <div class="col-12">
                    <div class="input-parent">
                        <mat-form-field appearance="outline" class="control">
                            <mat-icon matSuffix>person</mat-icon>
                            <mat-label matTooltip="Puede consultar un cliente por identitifacion o su nombre">Cliente</mat-label>
                         
                            <input type="text" matInput [matAutocomplete]="auto" (input)="searchContacto($event)" >
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectContacto($event)" >
                                <mat-option  *ngFor="let contacto of dataListContactos" [value]="contacto">
                                    {{ contacto.nombreRazonSocial }}
                                </mat-option>
                            </mat-autocomplete>
                         
                        </mat-form-field>
                    </div>
                    <div class="input-parent">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Identificación</mat-label>
                            <input matInput formControlName="identificacion">
                            <mat-icon matSuffix>badge</mat-icon>
                        </mat-form-field>
                        &nbsp;
                        <mat-form-field class="example-full-width" appearance="outline">
                           <mat-icon matSuffix>phone_iphone</mat-icon>
                            <mat-label>Telefono</mat-label>
                           
                            <input  matInput formControlName="telefono">
                           
                        </mat-form-field>
                    </div>

                 

                </div> -->

                <div class="col-12">
                    <div class="input-parent control">
                        <mat-form-field appearance="outline" class="control">
                            <mat-icon matSuffix>search</mat-icon>
                            <mat-label matTooltip="Puede consultar un cliente por identitifacion o su nombre">Buscar</mat-label>
                            <input type="text" matInput [matAutocomplete]="prductoBuscador" (input)="searchProducto($event)" formControlName="producto" >
                            <mat-autocomplete #prductoBuscador="matAutocomplete"  [displayWith]="displayFnProducto" (optionSelected)="selectProducto($event)" >
                                <mat-option  *ngFor="let producto of dataListProductosSearch" [value]="producto">
                                    {{ producto.nombre }}
                                </mat-option>
                            </mat-autocomplete>
                         
                        </mat-form-field>
                        <mat-form-field class="example-full-width control" appearance="outline" style="width: 45%;">
                            <mat-label>Cant.</mat-label>
                            <input type="number" matInput formControlName="cantidad" (keyup)="calcular()" >
                        </mat-form-field>
                        <mat-form-field class="example-full-width control" appearance="outline" style="width: 45%;">
                            <mat-label>Desc. %</mat-label>
                            <input type="number" matInput formControlName="descuento" (keyup)="calcular()">
                        </mat-form-field>
                        <!-- <mat-form-field class="example-full-width control" appearance="outline">
                            <mat-label>Descripcion</mat-label>
                            <input matInput formControlName="descripcion">
                        </mat-form-field> -->
                        <mat-form-field class="example-full-width control" appearance="outline" style="width: 50%;">
                            <mat-label>Precio</mat-label>
                            <input matInput type="number" formControlName="precio" readonly="true">
                        </mat-form-field>
                        <mat-form-field class="example-full-width control" appearance="outline" style="width: 60%;">
                            <mat-label>SubTotal</mat-label>
                            <input matInput type="number" formControlName="subTotalDetails" readonly="true">
                        </mat-form-field>
                     
                        <mat-form-field class="example-full-width control" appearance="outline" style="width: 60%;">
                            <mat-label>Impuesto</mat-label>
                            <input matInput type="number" formControlName="impuesto" readonly="true">
                        </mat-form-field>
                     
                        <mat-form-field class="example-full-width control" appearance="outline">
                            <mat-label>Total</mat-label>
                            <input matInput formControlName="total" readonly="tru">
                        </mat-form-field>


                        

                       


                    </div>
                    <input type="button" (click)="addDetails()" value=" +  Agregar fila" data-toggle="modal"
                    data-target="#exampleModal" class="btnGuardar">
             

                </div>

                </div>


            </div>

        </div>
    






    <div class="formularioCard">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-hover control">
                <thead class="con">
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                        <th scope="col">SubTotal</th>
                        <th scope="col">Impuestos</th>
                        <th scope="col">Descuento %</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dataListDetalleFactura let i = index"  >
                        <td>{{i+1}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.cantidad}}</td>
                        <td>{{item.precio | number : '1.2-5'}}</td>
                        <td>{{item.subTotal | number : '1.2-5'}}</td>
                        <td>{{item.impuestos | number : '1.2-5'}}</td>
                        <td>{{item.descuento | number : '1.2-5'}}</td>
                        <td>{{item.total | number : '1.2-5'}}</td>
                        <td style="text-align: right; width: 70px;">
                            <mat-icon  class="btnEditar" style="cursor: pointer;" matTooltip="Editar">edit</mat-icon>
                            <mat-icon (click)="removeItem(i)" class="btnEliminar" style="cursor: pointer;" matTooltip="Eliminar">delete</mat-icon>
                        </td>
                       
                                
                    </tr>


                </tbody>
            </table>
            <div style="display: flex; justify-content:space-between;">
                <div></div>
             

                <div class="resumenTotalesContainer">
                    <div style="width: 50%; height: 100%; ; display: flex; flex-direction: column;">
                        <div class="resumenTotales">SubTotal : </div>
                        <div class="resumenTotales">Descuento :</div>
                        <div class="resumenTotales">Total General :</div>
                    </div>

                    <div style="width: 50%; height: 100%;  display: flex; flex-direction: column;">
                        <div class="resumenTotales"> {{moneda.simbolo}} 5000.00</div>
                        <div class="resumenTotales">{{moneda.simbolo}} 1000.00</div>
                        <div class="resumenTotales"> {{moneda.simbolo}}4000.00</div>
                    </div>



                </div>
            </div>
        </div>
    </div>
  
</div>
</form>


