

<div class="containerConfiguraciones">
  
<div class="containerInter">
    <div class="titulo">
        <div class="containerIcoText">
          <mat-icon>settings</mat-icon> Configuraciones generales
        </div>
        <a [routerLink]="['/layout']">
          <div class="containerIcoText"><mat-icon>arrow_back</mat-icon>Retroceder</div>
        </a>
      </div>
    
    <div class="containerCard">
        <div class="cardInter"> 
            <div class="cardBody">
                <h3 class="titule">Empresa</h3>
                <hr>
                <p class="text">Configura la información de tu empresa y adapta el sistema a tu negocio.</p>
                <ul>
                    <li><a [routerLink]="['empresa']" >Empresa</a></li>
                    <li><a [routerLink]="['roles']" >Roles</a> </li>
                    <li><a [routerLink]="['usuarios']" >Usuarios</a> </li>
                </ul>
            </div>
        </div>
        
        <div class="cardInter">
            <div class="cardBody">
                <h3 class="titule">Facturación</h3>
                <hr>
                <p class="text">Configura la información que se mostrará en tus facturas.
        
                </p>
                <ul>
                    <li><a [routerLink]="['terminos']" >Terminos de pago</a></li>
                    <li><a [routerLink]="['numeraciones']">Numeraciones</a> </li>
                    <li><a [routerLink]="['configuracionfat']">Datos generales</a></li>
                    <li><a [routerLink]="['vendedores']">Vendedores</a> </li>
                </ul>
            </div>
        </div>
        
        <div class="cardInter">
            <div class="cardBody">
                <h3 class="titule">Impuestos</h3>
                <hr>
                <p class="text">Define aquí los tipos de impuestos y retenciones que aplicas a tus facturas</p>
                <ul>
                    <li><a [routerLink]="['impuestos']">Impuestos</a></li>
                    <li><a href="">Retenciones</a> </li>
                    <li><a href="">Configuración de reportes fiscales</a> </li>
                    <li><a href="">Configuración avanzada</a> </li>
                    
                </ul>
            </div>
        </div>
        
        <div class="cardInter">
            <div class="cardBody">
                <h3 class="titule">Contabilidad</h3>
                <hr>
                <p class="text">Define opciones avanzadas para el manejo de tu contabilidad.

                </p>
                <ul>
                    <li><a href="">Datos generales</a></li>
                    <li><a href="">Configuraciones contables </a> </li>
                    <li><a href="">Control de períodos contables</a></li>
                    <li><a href="">Tipos de entrada de diario </a> </li>
                    <li><a href="">Numeraciones contables</a></li>
          
                </ul>
            </div>
        </div>

        <div class="cardInter">
            <div class="cardBody">
                <h3 class="titule">Notificaciones y correos</h3>
                <hr>
                <p class="text">Configura las plantillas, las notificaciones del sistema y las notificaciones de facturas.</p>
                <ul>
                    <li><a href="">Notificaciones</a></li>
                    <li><a href="">Plantillas de correos</a> </li>
                    <li><a href="">Preferencias de correo</a> </li>
                </ul>
            </div>
        </div>
              <div class="cardInter">
            <div class="cardBody">
                <h3 class="titule">Notificaciones y correos</h3>
                <hr>
                <p class="text">Configura las plantillas, las notificaciones del sistema y las notificaciones de facturas.</p>
                <ul>
                    <li><a href="">Notificaciones</a></li>
                    <li><a href="">Plantillas de correos</a> </li>
                    <li><a href="">Preferencias de correo</a> </li>
                </ul>   
            </div>
    </div>
    <div class="cardInter">
        <div class="cardBody">
            <h3 class="titule">Inventario</h3>
            <hr>
            <p class="text">Define opciones avanzadas para la creación, venta y gestión de tus productos.</p>
            <ul>
                <li><a href="">Campos adicionales</a></li>
                <li><a href="">Variantes</a> </li>
            </ul>
        </div>
    </div>

    <div class="cardInter">
        <div class="cardBody">
            <h3 class="titule">Historial</h3>
            <hr>
            <p class="text">Consulta el historial de correos de facturas enviadas a clientes y operaciones realizadas en la cuenta.</p>
            <ul>
                <li><a href="">Historial de correos</a></li>
                <li><a href="">Historial de operaciones</a> </li>
            </ul>
        </div>
    </div>

    <div class="cardInter">
        <div class="cardBody">
            <h3 class="titule">Suscripción - Planes</h3>
            <hr>
            <p class="text">Elige el plan que quieres tener en Alegra y configura cómo quieres pagarlo.</p>
            <ul>
                <li><a href="">Suscripción</a></li>
                <li><a href="">Métodos de pago</a> </li>
            </ul>
        </div>
    </div>




</div>
</div>