<div class="containerConfiguraciones">
    <div class="containerInter">
        <div class="titulo">
            <div class="containerIcoText">
                <mat-icon>inventory</mat-icon> {{document}}
            </div>
            <a [routerLink]="['/layout']">
                <div class="containerIcoText"><mat-icon>arrow_back</mat-icon>Retroceder</div>
            </a>
        </div>

        <hr>

        <div class="formularioCard">
            <!-- <p style="font-size: small;">Crea una numeración para organizar y tener el control de tus comprobantes</p> -->

            <div class="containerfuncionesheader input-parent">
                <a (click)="addNewDocument()" class="btnGuardar">+ Agregar</a>
                <!-- <input type="button" value=" + Agregar" data-toggle="modal" data-target="#exampleModal"
                    class="btnGuardar"> -->
                <mat-form-field appearance="outline">
                    <mat-label>Buscar</mat-label>
                    <input matInput (keyup)="getAllFilter($event)" placeholder="buscar">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <table class="table table-hover table-striped control">
                    <thead class="con">
                        <tr>
                            <th scope="col">Numero</th>
                            <th scope="col" class="d-lg-block d-md-block d-sm-none d-xs-none">Cliente</th>
                            <th scope="col">Creación</th>
                            <th scope="col">Vencimiento</th>
                            <th scope="col">Total</th>
                            <th scope="col">Monto pagado</th>
                            <th scope="col">Monto por pagar</th>
                            <th scope="col">Estado</th>
                            <th scope="col" class="accionesTitle"></th>
                            <th class="cargandoTableIcono">
                                <div *ngIf="cargando" class="loaderTable"></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let factura of dataList" class="filaBody">

                            <td>
                                <div>{{factura.numeracion || ''}}</div>
                            </td>
                            <td
                                style="max-width: 150px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                <div class="limitar" style="display: block; max-width: 100%;">
                                    {{factura.contacto.nombreRazonSocial || ''}}</div>
                            </td>
                            <td>
                                <div>{{factura.fechaCreacion | date: 'dd/MM/YYYY'}}</div>
                            </td>
                            <td>
                                <div>{{factura.vencimiento | date: 'dd/MM/YYYY'}}</div>
                            </td>

                            <td>
                                <div>{{moneda.simbolo}} {{factura.totalGeneral | number : '1.2-5'}}</div>
                            </td>
                            <td style="color: green;">
                                <div>{{moneda.simbolo}} {{factura.montoPagado | number : '1.2-5'}}</div>
                            </td>
                            <td  [style.color]="factura.estadoFactura.color">
                                <div>{{moneda.simbolo}} {{factura.montoPorPagar| number : '1.2-5'}}</div>
                            </td>
                            <td style="color: white;">
                                <div style="text-align: center; border-radius: 5px; padding: 1px;"
                                    [style.background-color]="factura.estadoFactura.color">
                                    {{factura.estadoFactura.nombre || ''}}</div>
                            </td>
                            <td class="acciones">


                                <!-- <button matTooltip="Imprimir" class="btnaccion" (click)="printFactura(factura!)" 
                                    data-toggle="modal" data-target="#exampleModal"><mat-icon
                                        data-toggle="modal">print</mat-icon></button> -->


                                <button
                                    [ngClass]="{'disabled': factura.montoPorPagar === 0, 'inactivo': factura.montoPorPagar !== 0}"
                                    (click)="openDialog(factura)" matTooltip="Agregar pago" class="btnaccion"
                                    data-toggle="modal" data-target="#exampleModal"><mat-icon
                                        data-toggle="modal">payments</mat-icon></button>

                                <!-- <button  *ngIf="factura.montoPorPagar!==0" (click)="openDialog(factura)" matTooltip="Agregar pago" class="btnaccion" 
                                data-toggle="modal" data-target="#exampleModal"><mat-icon
                                    data-toggle="modal">payments</mat-icon></button> -->

                                <!-- <button [ngClass]="{'disabled': factura.montoPorPagar === 0, 'inactivo': factura.montoPorPagar !== 0}"  matTooltip="Editar" class="btnaccion" (click)="editar(factura!)"
                                    data-toggle="modal" data-target="#exampleModal"><mat-icon class="btnEditar"
                                        data-toggle="modal">edit</mat-icon></button>

                                <button [ngClass]="{'disabled': factura.montoPorPagar === 0, 'inactivo': factura.montoPorPagar !== 0}" matTooltip="Eliminar" class="btnaccion" (click)="delete(factura.idFactura!)"
                                    data-target="#exampleModal"><mat-icon class="btnEliminar" data-toggle="modal">delete</mat-icon></button>
                                    <button matTooltip="Ver detalle" class="btnaccion"  (click)="verFactura(factura.idFactura!)"
                                    data-toggle="modal" data-target="#exampleModal"><mat-icon
                                        data-toggle="modal">preview</mat-icon></button> -->

                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                    aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu" xPosition="before">
                                    <button mat-menu-item (click)="verFactura(factura.idFactura!)">
                                        <mat-icon>visibility</mat-icon>
                                        <span>Ver detalle</span>
                                    </button>
                                    <button mat-menu-item (click)="getFacturaByIdForPrint(factura.idFactura!)">
                                        <mat-icon>print</mat-icon>
                                        <span>Imprimir</span>
                                    </button>
                                    <button *ngIf="factura.montoPagado==0"
                                        [ngClass]="{'disabled': factura.montoPagado !== 0, 'inactivo': factura.montoPagado !== 0}"
                                        mat-menu-item (click)="editar(factura)" mat-menu-item>
                                        <mat-icon>edit</mat-icon>
                                        <span>Editar</span>
                                    </button>
                                    <!-- <button
                                        [ngClass]="{'disabled': factura.montoPorPagar === 0, 'inactivo': factura.montoPorPagar !== 0}"
                                        mat-menu-item>
                                        <mat-icon>do_not_disturb_on</mat-icon>
                                        <span>Anular</span>
                                    </button> -->
                                </mat-menu>

                            </td>


                            <td></td>
                        </tr>
                        <tr class="sinRegistros" *ngIf="sinRegistros">

                            <td>{{sinRegistrosTxt}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- paginacion -->
            <ul class="pagination" *ngIf="dataList.length>0">
                <li class="page-item">
                    <input class="page-link text-dark" type="button" value="«" (click)="getAll(pageNumbewr-1)">
                </li>
                <li *ngFor="let p of paginations" class="page-item"><input class="page-link text-dark" value="{{p}}"
                        type="button" (click)="getAll(p)"></li>
                <li class="page-item">
                    <input class="page-link text-dark" type="button" value="»" (click)="getAll(pageNumbewr +1)">
                </li>
            </ul>



            <div>


                <div style="display: flex; width: 100%;">
                    <p style="font-size: 12px;"> Items:{{dataList.length}} / Pagina actual {{pageNumbewr}} / Cant.
                        Paginas {{paginations.length}}</p>
                </div>


            </div>
        </div>

   


    <!-- REPORTE DE FACTURA -->
<!-- <div>
    <div class="container report" id="print-section" *ngIf="facturaForPrint!==undefined">
        <div class="reportcompany">
            <div class="companyInformation">
                <h3>
                 {{facturaForPrint.empresaObj.razonSocial.toUpperCase()}}
                  <div *ngIf="facturaForPrint.empresaObj.razonSocial.toUpperCase()!==facturaForPrint.empresaObj.nombreComercial.toUpperCase()"> {{facturaForPrint.empresaObj.nombreComercial.toUpperCase()}}</div>
                </h3>
                <p>
                    {{"Sucursal: " + facturaForPrint.sucursalObj.nombre}} <br>
                    {{facturaForPrint.sucursalObj.direccion}} • {{facturaForPrint.sucursalObj.telefono1}} <br>
                    RNC: {{facturaForPrint.empresaObj.rnc}} 
                </p>
            </div>
            <div class="invoiceInformation">
                <div class="invoiceInformationDetails">
                    <div class="titleReport">FACTURA</div>
                    <p>
                        <b >NO. {{facturaForPrint.numeracion}} </b> <br>
                        {{facturaForPrint.numeracionObj.nombre}} <br>
                        FECHA EXPEDICIÓN: {{facturaForPrint.fechaCreacion | date: 'dd/MM/YYYY'}} <br>
                        FECHA VENCIMIENTO: {{facturaForPrint.vencimiento | date: 'dd/MM/YYYY'}}
                    </p>
                </div>
            </div>
        </div>

        <div class="custumerInformation">

            <div class="colTitle">
                <div>SEÑOR(ES):</div>
                <div>DIRECCIÓN:</div>
                <div>CED /RNC:</div>
            </div>
            <div class="colInformation">
                <div>{{facturaForPrint.contacto.nombreRazonSocial}}</div>
                <div>{{facturaForPrint.contacto.direccion}}</div>
                <div style="display:  flex;">
                    {{facturaForPrint.contacto.rnc}}
                    <section style="margin-left: 200px;">
                        TELEFONO: {{facturaForPrint.contacto.telefono1}} - {{facturaForPrint.contacto.telefono2}}
                    </section>
                </div>
            </div>
        </div>

        <div class="ItemInformation">
           
            <table>
                <tr class="trheader">
                  <th style="width: 30px;">Cod</th>
                  <th>Producto/Servicio</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th>Descuento</th>
                  <th>Impuestos</th>
                  <th class="textright">SubTotal</th>
                </tr>
              
                <tbody *ngIf="facturaForPrint!==undefined">
                 <tr *ngFor="let detail of facturaForPrint.detalle">
                    <td>{{detail.idDetalleFactura }}</td>
                    <td class="itemDescription">{{detail.producto.nombre}}</td>
                    <td>{{detail.cantidad}}</td>
                    <td> {{moneda.simbolo}} {{detail.precio | number : "1.2-5"}}</td>
                    <td>{{moneda.simbolo}}{{detail.descuento | number : "1.2-5"}}</td>
                    <td>{{moneda.simbolo}}{{detail.impuestos | number : "1.2-5"}}</td>
                    <td class="textright">{{moneda.simbolo}}{{detail.subTotal | number : "1.2-5"}}</td>
                </tr>
                
                </tbody>
              </table>
              <div class="footerInformation">
                <div class="footerComentarios">
                    <div>{{facturaForPrint.comentario}}</div>
                </div>

                <div>
                    <div class="colFooterTitle textright">Subtotal</div>
                    <div class="colFooterTitle textright">ITBIS(18%)</div>
                    <div class="colFooterTitle textright">Descuento</div>
                    <div class="colFooterTitle textright">Total</div>
                </div>
                <div>
                    <div class="colFooterTitle textright">{{moneda.simbolo}} {{facturaForPrint.subTotal | number : '1.2-5'}}</div>
                    <div class="colFooterTitle textright">{{moneda.simbolo}} {{facturaForPrint.itbis | number : '1.2-5'}}</div>
                    <div class="colFooterTitle textright">{{moneda.simbolo}} {{facturaForPrint.descuento}}</div>
                    <div class="colFooterTitle textright">{{moneda.simbolo}} {{((facturaForPrint.subTotal + facturaForPrint.itbis)) -facturaForPrint.descuento | number : '1.2-5'}}</div>
                </div>

              </div>
          



               <div class="firmas">
            <div>
                ____________________________________
                <section>ELABORADO POR</section>
            
            </div>
            <div>
                _________________________________________
                <section>ACEPTADA, FIRMA Y/O SELLO Y FECHA</section> 
            </div>


        </div>  
        </div>

       





    </div>
</div> -->