<!-- <div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">
                       
        
                
                <img src="../../../assets/icono.png" alt="">
                <div class="text">
                    <p>“No ahorres lo que queda después de gastar, sino gasta lo que queda después de ahorrar.” <i>- Warren Buffett</i></p>
                </div>
                
            </div>
            <div class="col-md-6 right">
                
                <div class="input-box">
                   
                   <header>Login</header>
                   <form  [formGroup]="miFormulario" (ngSubmit)="login()">
                   <div class="input-field">
                        <input type="text" formControlName="correo" class="input" id="email" required autocomplete="off">
                        <label for="email">Email</label> 
                    </div> 
                   <div class="input-field">
                        <input type="password" formControlName="contrasena" class="input" id="pass" required>
                        <label for="pass">Password</label>  
                    </div> 
                   <div class="input-field">
                        
                        <input type="submit"  class="submit" value="Sign Up">
                   </div> 
                </form>
                   <div class="signin">
                    <span *ngIf="alerta" class="text-danger" >{{mensaje}}</span> <br>
                    <span>Already have an account? <a href="#">Log in here</a></span>
                   </div>
                </div>  
            </div>
        </div>
    </div>
</div> -->

<section class="container-fluid">
    <div class="form login">
        <div class="form-content">
            <header>Login</header>
            <form  [formGroup]="miFormulario" (ngSubmit)="login()">
                <div class="field input-field">
                    <mat-form-field appearance="outline">
                        <mat-label>Correo electronico</mat-label>
                        <input matInput formControlName="correo" >
                      </mat-form-field>
                </div>
                <div class="field input-field">
                    <mat-form-field appearance="outline"> 
                        <mat-label>Contraseña</mat-label>
                        <input matInput formControlName="contrasena">
                      </mat-form-field> 
                </div>
                <div class="form-link">
                    <a href="#" class="forgot-pass">Forgot password?</a>
                </div>
                <div class="field button-field">
                    <button>Login</button>
                </div>
            </form>
            <div class="form-link">
                <span>Don't have an account? <a href="#" class="link signup-link">Signup</a></span>
            </div>
        </div>
        <div class="line"></div>
        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Login with Facebook</span>
            </a>
        </div>
        <div class="media-options">
            <a href="#" class="field google">
                <img src="#" alt="" class="google-img">
                <span>Login with Google</span>
            </a>
        </div>
    </div>
    <!-- Signup Form -->
    <div class="form signup">
        <div class="form-content">
            <header>Signup</header>
            <form action="#">
                <div class="field input-field">
                    <input type="email" placeholder="Email" class="input">
                </div>
                <div class="field input-field">
                    <input type="password" placeholder="Create password" class="password">
                </div>
                <div class="field input-field">
                    <input type="password" placeholder="Confirm password" class="password">
                    <i class='bx bx-hide eye-icon'></i>
                </div>
                <div class="field button-field">
                    <button>Signup</button>
                </div>
            </form>
            <div class="form-link">
                <span>Already have an account? <a href="#" class="link login-link">Login</a></span>
            </div>
        </div>
        <div class="line"></div>
        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Login with Facebook</span>
            </a>
        </div>
        <div class="media-options">
            <a href="#" class="field google">
                <img src="#" alt="" class="google-img">
                <span>Login with Google</span>
            </a>
        </div>
    </div>
</section>