
<div class="containerConfiguraciones">

    <div class="containerInter">
      <div class="titulo">
        <div class="containerIcoText">
          <mat-icon>inventory</mat-icon> Pagos Realizados
        </div>
  
        <a [routerLink]="['/layout/configuraciones']">
          <div class="containerIcoText"><mat-icon>arrow_back</mat-icon>Retroceder</div>
        </a>
      </div>
  
      <hr>
  
      <div class="formularioCard">
        <!-- <p style="font-size: small;">Crea una numeración para organizar y tener el control de tus comprobantes</p> -->
      
        <div class="containerfuncionesheader input-parent">
          <a [routerLink]="['addpago']" class="btnGuardar"> +  Agregar</a>
          <!-- <input type="button" value=" +  Agregar" data-toggle="modal" data-target="#exampleModal" class="btnGuardar"> -->
          <mat-form-field appearance="outline">
              <mat-label>Buscar</mat-label>
              <input matInput (keyup)="getAllFilter($event)" placeholder="buscar">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
  
  
        <div class="col-md-12 col-sm-12 col-xs-12">
          <table class="table table-hover table-striped control">
            <thead class="con"> 
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Cliente</th>
                <th scope="col">No.Dococumento</th>
                <th scope="col">Tipo Documento </th>
                <th scope="col">Fecha</th>
                <th scope="col">Cuenta</th>
                <th scope="col">Monto</th>
                <th></th>
                <th></th>

                <th class="cargandoTableIcono">
                  <div *ngIf="cargando" class="loaderTable"></div>
                </th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let pago of dataList" class="filaBody"> 
                <td>{{pago.idPago}}</td>
                <td>{{pago.facturaObj.contacto.nombreRazonSocial}}</td>
                <td>{{pago.facturaObj.numeracion}}</td>
                <td>{{pago.facturaObj.tipoDocumentoObj.nombre}}</td>
                <td>{{pago.fecha | date : 'dd/MM/YYYY hh:MM:ss'}}</td>
                <td>{{pago.bancoObj.nombreCuenta}}</td>
                <td>{{moneda.simbolo}} {{pago.monto |  number : '1.2-5'}}</td>

                <td></td>

                

                <td class="acciones">
                  <button matTooltip="Editar" class="btnaccion" (click)="edit(pago)" data-toggle="modal"
                    data-target="#exampleModal"><mat-icon class="btnEditar" data-toggle="modal">edit</mat-icon></button>
                  <button matTooltip="Eliminar" class="btnaccion" (click)="delete(pago!.idPago)" data-target="#exampleModal"><mat-icon class="btnEliminar"
                      data-toggle="modal">delete</mat-icon></button>
                </td>
                <td></td>
              </tr>
              <tr class="sinRegistros" *ngIf="sinRegistros">
                <td>{{sinRegistrosTxt}}</td>
              </tr>
            </tbody>
          </table>
  
        </div>
        <div style="display: flex; width: 100%;">
          <p style="font-size: 12px;"> Total de registros encontrados : {{dataList.length}} </p>
      </div>
      </div>
    </div>
  
  