<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="cardresumen">resumen1</div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="cardresumen">resumen2</div>
    </div>
    <div class="col-lg-4 col-md- col-sm-12">
        <div class="cardresumen">resumen3</div>
    </div>
</div>
<div class="row">
    <div class="col col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="cardresumenrow2">grafica uno</div>
    </div>
    <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="cardresumenrow2">grafica dos</div>
    </div>
</div>
<div class="row">
    <div class="col col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="cardresumenrow2">grafica tres</div>
    </div>
    <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="cardresumenrow2" style="display: flex; justify-content: center; align-items: center;">

            <div class="row fila">
                <div></div>
                <div></div>

            </div>



        </div>
    </div>


</div>